@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
   
   
}
.intertext{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .menu{
    visibility: hidden; 
    background-color: white;
    /* display: inline-block; */
    color: #fff;
  }

  .display-flex{
    display: flex;
  }
  .fitness-nav{
   align-items: center;
   justify-content:space-between;
   width: 80%;
   margin: 57px auto;
  }
  .fitness-nav h1{
    font-size: 2.8rem;
    font-weight: 800;
    color: #E6533C;
  }
  .fitness-nav ul{
    list-style: none;
    border: 0.5px  dotted rgb(153, 152, 152);
    border-radius: 18px;
    padding: 6px 6px;
   margin-left: 800px;

  }
  .fitness-nav ul a{
    color: #fff;
    text-decoration: none;
    padding:  0px 20px;
    font-size: 22px;
     cursor: pointer; 
}
#extranav{
    background-color: #E6533C;
    border: none;
    border-radius: 18px;
}
#hamburger{
  font-size: 24px;
color: white;
 display: none;  
}
.hero-content{
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.left-content{
  color: white;
  width: 50%;
  margin: auto;
}
.left-content h1{
font-size: 4.9rem;
font-weight: 900;

}
.miama-text{
  font-family: 'Miama', sans-serif;
  padding: 0px 10px;
  font-weight: 200;
  font-size: 78px;                                                                                
}
.hero-small-text{
  font-size: 1.0rem;
  line-height: 25px;
  color: rgb(233, 230, 227);
  margin-top: 28px;
  margin-bottom: 28px;
}
.btn{
  /* width: 224px; */
}
.btn-1{
  width: 224px;
  padding: 16px;
  background-color: #E6533C;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 16px;
}
.btn-2{
  width: 224px;
  padding: 16px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 16px;
  color: white;
}



.right-content{
  width: 50%;
  margin: auto;
 padding-left: 300px;
 text-align: center;
}
.transparent-1{
  position: absolute;
  margin-top: -400px;
  margin-left: 200px;
  color: white;
  width: 12rem;
  padding: 12px;
  backdrop-filter: blur(10px);
  border-radius: 12px;
}
.transparent-1 h1{
  font-size: 2.5rem;
 margin-bottom: 10px;
}
.transparent-1 p{
  font-size: 0.8rem;
  color: rgb(233, 230, 227);
 margin-bottom: 10px;
}
.transparent-2 h1{
  font-size: 2.5rem;
  color: white;
 margin-bottom: 10px;
}
.transparent-2 p{
  font-size: 0.8rem;
  color: rgb(233, 230, 227);
 margin-bottom: 10px;
}
.transparent-2{
  
  position: absolute;
  margin-top: -173px;
  margin-left: -70px;
  color: white;
  width: 16rem;
  padding: 12px;
  backdrop-filter: blur(10px);
align-items: center;
justify-content: center;
  border-radius: 12px;
}
.dot {
  height: 40px;
  width: 40px;
  background-color: #E6533C;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}
.habit_text h1, .meet_managment{
  text-align: center;

}
.habit_text h1, .meet_managment h1{
  font-size: 3rem;
  color: #ffff;
  padding-bottom: 14px;
}
.habit_text p, .meet_managment p{
  font-size: 16px;
  color: #ffff ;
  opacity: 50%;
  padding-bottom: 58px;
  text-align: center;
}
.meet_managment p{
  font-size: 16px;
  color: #ffff ;
  opacity: 50%;
  padding-bottom: 58px;
  text-align: center;
}

.habit-contents{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 80%;
  margin: 0 auto;
  padding: 40px;
}
.habit-content{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.habit-content img{
  width: 180px;
  height: 180px;
  border: 3px solid rgba(34, 34, 34, 1);
  border-radius: 50%;
  margin-bottom: 30px;
}

.habit-content h1{
  font-size: 1.2rem;
  color: #ffff;
  margin-bottom: 6px;
}
.habit-content p{
  font-size: 16px;
  color: #ffff ;
  opacity: 50%;
  padding-bottom: 58px;
  
}
.run_part{
  width: 80%;
  display: flex;
  border-radius: 18px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  background-color: rgba(34, 34, 34, 1);
  margin-bottom: 58px;
}
.left-run{
  width: 40%;
  padding: 40px;

}
.left_run h1{
  font-size: 3rem;
  color: #ffff;
  margin-bottom: 14px;
  
}
.left_run p{
  font-size: 16px;
  color: #ffff ;
  opacity: 50%;
  margin-bottom: 34px;
}
.btn-3{
  width: 224px;
  padding: 16px;
  background-color: #E6533C;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 18px;
}
.right_run{
  width: 40%;
padding: 30px;
}
.right_run img{
  width: 100%;
  height: 370px;
  border-radius: 20px;
}
.calculator_part{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
  background-color: rgba(34, 34, 34, 1);
  width: 100%;
  padding: 50px;
  width: 80%;
}
.calculator_part_chart{
width: 100%;
margin-left: 200px;
}
.calculator_part h1{
  color: #fff;
  margin-bottom: 30px;
}
.calculator_part p{
  font-size: 16px;
  color: #ffff ;
  opacity: 50%;
}
thead{
  color: #ffff ;
  opacity: 100%;
  font-weight: 400; 
}
tbody{
  color: #ffff ;
  opacity: 50%;
}
th,td {
  padding: 10px;
  text-align: left;
}
.BMI{
  width: 100%;
  text-align: left;
}
.BMI h1{
  font-size: 28px;
  color: #fff;
  margin-bottom: 14px;
}
.BMI p{
  font-size: 14px;
  color: #ffff ;
  opacity: 50%;
  margin-bottom: 34px;

}
.form_container{
  padding: 0px 0px 20px 0px;
  /* background-color: #E6533C; */
  margin: auto;
  width: 100%;
  border-radius: 5px;
 



}
.form_container label{
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  
}
.form_gap
{
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  margin-bottom: 12px;
width: 100%px;
margin: 4px;


}
.form_f1{
  width: 100%;
  /* background-color: red; */
 padding: 8px;
 text-align: left;
  align-items: center;
  
}
.form-f2{
  width: 100%;
  /* background-color: red; */
padding: 8px;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.1); */
}
select{
  background-color: rgba(34, 34, 34, 1);
  border: none;
  color: rgb(153, 152, 152);;

}
.sex_class {
  background-color: rgba(255, 255, 255, 0.1);
 width: 100%;
 padding:4px;
 border-radius: 5px;
 color: rgb(153, 152, 152);
 font-weight: 400;
 font-size: 14px;
 margin-top: 4px;
}
.pic_collections{

  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 60%;
  margin: 0 auto;
  gap: 10px;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 18px;
  padding: 20px;
  margin-bottom: 80px;
}
.pic_collections img{
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 18px;
}
.textofpic{
   position: relative; 
  top: 21rem;
  left: 10px;
  display: inline; 
  line-height: 18px;
  text-align: left;
}
.textofpic h1{
  font-size: 1.6rem;
  font-weight: 700;
  
  text-align: left;
}
.textofpic p{
  font-size: 1.0rem;
  font-weight: 300;
  
  text-align: left;
}
.form_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 60%;
  margin: 30px;
width: 70%;
}
footer h1{
  color: #FFFFFF;
}
.footer_part li {
  color: #FFFFFF;
  opacity: 50%;
  font-weight: 300;
  list-style: none;
  text-align: left;
  font-size: 16px;
  padding-top:5px ;
  
} 
footer{
  width: 100%;
  background-color: rgba(34, 34, 34, 1);
  padding: 40px;
  text-align: center;
  justify-content: space-between;
  
}
.footer_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  padding: 10px;
  
}
.fitness{
  color: #E6533C;
  font-size: 70px;
  font-weight: 900;
  text-align: left;
  text-wrap: warp;
}
.footer_text p{
  color: #FFFFFF;
  opacity: 50%;
  font-weight: 300;
 
  text-align: left;

}
.links{
  list-style: none;
  text-decoration: none;
  color: white;
 font-size: 16px
}
.fitness_2024{
  padding-top: 10px;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 50%;
}

/* media query for mobile device */
@media only screen and (max-width: 576px) {
  body {
  background-color: black;
  }
  .menu{
    visibility: inherit;
  }
  .navlinks{
    visibility: hidden;
  }
  .fitness-nav ul{
    border: none;
  }
  .hero-content{
    display: block;
    align-items: start  ;
    justify-content: start;
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }
  .hero-content h1{
    font-size: 36px;
    text-align: left;
  }
  .hero-content p{
    font-size: 16px;
  }
  .btn{
    display: flex;
    width: 100%;
  }
  .left-content{
    
    width: 100%;
    margin: 4px;
  }
  .left-content h1{
  font-size: 2.5rem;
  font-weight: 700;
  }

  .right-content{
    width: 100%;
    margin: 20px 20px;
   padding-left: 0;
   text-align: center;
  }
  .habit-contents{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
  }.run_part{
    width: 100%;
    display: flex;
    flex-direction: column;   
    margin: 0 auto;
    margin-bottom: 58px;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 0 20px;
  }
  .btn-3{
    width: 90%;
    
  }
  .right_run{
    width: 100%;
  }
  .right_run img{
    width: 100%;
    height: 320px;

  }
  .habit_text h1{
    text-align: left;
    font-size: 30px;
    padding: 0 20px;

  }
  .habit_text p{
   font-size: 16px;
    padding: 0 20px 20px 20px;
    text-align: left;
  }
  .calculator_part{
    display: flex;
   flex-direction: column;
   padding: 20px 20px 20px 20px;
   margin: 20px auto;
    width: 100%;
  }
  .calculator_part_chart{
    width: 100%;
    text-align: left;
    /* background-color: red; */
    margin: auto;
    margin-bottom: 20px;
    }
    .calculator_part h1{
      /* padding: 20px; */
      font-size: 30px;
      text-align: left;
      
    }
    .calculator_part p{
      font-size: 16px;
      color: #ffff ;
      opacity: 50%;
    }

    /* form  */
    /* .form_container label{

      margin-bottom: 5px;
      font-weight: 400;
      background-color: black;
      width: 100%;
      
    } */
    .form_container{
      padding: 0px 0px 0px 0px;
      /* background-color: #E6533C; */
      margin: auto;
      width: 100%;
    
    }
    .form_gap
    {
     
    display: flex;
    flex-direction: column;

    
    
    }
    .form_f1{
      width: 100%;
      display: flex;
      flex-direction: column;
      
    }
    .form-f2{
      display: flex;
      flex-direction: column;
    }
    /* meet managment */
    .habit_text h1, .meet_managment{
      text-align: center;   
    }
    .meet_managment h1{
      font-size: 2rem;
    }
    .meet_managment p{
      font-size: 15px;
      text-align: center;
     
    }
    .pic_collections{

      display: grid;
      grid-template-columns: repeat(1,1fr);
      width: 100%;
    }
    .pic_collections img{
      width: 300px;
      height: 250px;
      object-fit: cover;
      border-radius: 18px;
    }
    .textofpic{
      position: relative; 
     top: 18rem;
     left: 60px;
     display: inline; 
     line-height: 18px;
     text-align: left;
   }
    .textofpic h1{
      font-size: 1.1rem;   
      text-align: left;
    }
    .textofpic p{
      font-size: 0.8rem;   
      text-align: left;
    }
    /* FOOTER PART */
    
    footer h1{
      text-align: left;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .footer_container{
      display: block;
      flex-direction: column;
      margin: auto;
    }
    .fitness{

      font-size: 40px;
      font-weight: 800;
      text-align: left;
    }
    .footer_text p{
     font-size: 16px;
      text-align: left;
    }
    .links{
     font-size: 16px;
    }
    .fitness_2024{
      text-align: left;
      width: 100%;
    }
}